/*Эти стили при импортировании встроятся туда, куда вы их импортировали.*/

/*Контекстные селекторы - особый вид селекторов, который позволяет уточнять, какой конкретно элемент и где необходимо
стилизовать. Нередко бывает такое, что у элемента есть несколько уровней вложенности (как у матрёшки). Разумеется, если
мы не будем уточнять, к какому элементу необходимо применить стиль, он может примениться некорректно (особенно если вы
работаете с селекторами типов. По сути своей вы указываете путь к нужному вам элементу. Контекстный селектор представляет
из себя набор мелких селекторов, разделённых пробелом. Самый первый селектор всегда находится на самом высоком уровне,
от него и начинается поиск вглубь. Последний элемент - тот, что нам необходимо найти и стилизовать. Иногда, путь можно
сократить, убрав ненужные уровни, но при условии, что нужный нам элемент уникален или как минимум путь к нему ярко выражен.
С данным подходом вы будете сталкиваться чаще всего.*/
.context_div p span {
    background-color: black;
}

/*Селекторы соседних элементов - это комбинация из двух элементов, соединённых между собой либо знаком +, либо знаком ~.
Основное условие работы с данными элементами - нахождение элементов на одном уровне. То бишь если они буквально на одном этаже.
Знак + используется в том случае, если вы применяете стиль к элементу, который стоит после знака +, и при этом, сам элемент
в html-коде стоит после того элемента, который написан до знака +.
Для знака ~ расположение второго элемента на самом деле неважно - важно, чтобы он находился на том же уровне, что и первый
элемент. Вот такие пироги.*/
.neighbor_div p i+b{
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;
}

.neighbor_div_v2 p i~b{
    font-size: 30px;
    font-family: "Cambria", sans-serif;
}

/*Дочерний селектор - это комбинация из двух элементов, соединённых между собой либо знаком >. Этот селектор необходим
для того, чтобы задавать стили дочерним элементам в блоке. Иными словами, тем элементам, что на этаж ниже, и не более. Здесь
нельзя пропустить уровень, как в контекстном селекторе, и если вы хотите с помощью дочернего селектора задать стиль нужному
вложенному элементу, придется указывать путь полностью с помощью знаков >. Максимально неудобно, особенно на фоне контекстного
селектора.*/

.daughter_div > p > span {
    background-color: darkblue;
}

/* Вот так ваш стиль при дочернем селекторе не применится, потому что css не видит span как дочерний для класса .daughter_div

.daughter_div > span {
    border: 10px solid black;
}

*/